@model IEnumerable<lab4.Models.Course>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach(var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.Datetime.ToString("dd")
                    </div>
                    <div class="year">
                        @course.Datetime.ToString("yyyy")
                    </div>
                </div>

                <div class="details">
                    <span class="lecture">@course.Name</span>
                    <br />
                    <span class="category" style="color:blue">@course.Place</span>
                    <span class="category">@course.Category.Name</span>
                    <br />
                    <span>
                        @if (course.isLogin)
                        {
                            if (course.isShowFollow)
                            {
                                <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Follow</button>
                            }
                            else
                            {
                                <button data-user-id="@course.LecturerId" class="btn btn-success btn-sm js-tongle-follow">Following</button>
                            }
                        }
                        @if (course.isLogin)
                        {
                            if (course.isShowGoing)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendance">Going?</button>
                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-info btn-sm js-tongle-attendance">Going</button>
                            }
                        }
                    </span>
                </div>
            </li>
        }
    </ul>

    @section scripts {
        <script>
            $(document).ready(function () {
                $(".js-tongle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { Id: button.attr("data-course-id") })
                        .done(function (result) {
                            if (result == "cancel") {
                                /*alert("Cancel register course sucessfully!")*/
                                button
                                    .removeClass("btn-info")
                                    .addClass("btn-default")
                                    .text("Going?");
                            } else {
                                /*alert("Register course sucessfully!")*/
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Going");
                            }
                        }).fail(function () {
                            alert("Something fail")
                        });
                });

                $(".js-tongle-follow").click(function (e) {
                    var button = $(e.target);
                    var followee = button.attr("data-user-id");
                    $.post("/api/follow", { FolloweeID: button.attr("data-user-id") })
                        .done(function (result) {
                            if (result == "cancel") {
                                $('.js-tongle-follow').each(function (i, obj) {
                                    if ($(this)
                                            .attr("data-user-id") == followee) {
                                        $(this)
                                            .removeClass("btn-success")
                                            .addClass("btn-default")
                                            .text("Follow");
                                    }
                                });
                                /*alert("unFollow sucessfully")*/
                            } else {
                                $('.js-tongle-follow').each(function (i, obj) {
                                    if ($(this)
                                            .attr('data-user-id') == followee) {
                                        $(this)
                                            .removeClass("btn-default")
                                            .addClass("btn-success")
                                            .text("Following");
                                    }
                                });
                                /*alert("Follow sucessfully")*/
                            }
                        }).fail(function () {
                            alert("Something fail")
                        });
                });
            });
        </script>}
</div>