@model IEnumerable<lab4.Models.Course>

@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.Datetime.ToString("dd")
                    </div>
                    <div class="year">
                        @course.Datetime.ToString("yyyy")
                    </div>
                </div>

                <div class="details">
                    <span class="lecture">
                        @course.LectureName
                    </span>
                    <br />
                    <span class="category" style="color:blue">
                        @course.Place
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

